<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>StartUp Biz</title>

    <!-- Bootstrap Core CSS -->
    <script src="/bower_components/angular/angular.js"></script>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Theme CSS -->

    <!-- Custom Fonts -->
    <link href="/bower_components/components-font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">


    <link href="stylesheets/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="stylesheets/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body ng-app="myModule" ng-controller="myController">
       <div id="wrapper">
        <nav style="background-color: #47475c;" class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/startup" style=" color:white;">Startup Biz</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">


                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">


                    <!-- /.dropdown-tasks -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">

                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: white">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" style="padding-top:60px;" id="side-menu">

                        <li>
                            <a href="/dashboard"><i class="fa fa-industry fa-fw"></i> Companies</a>
                        </li>
                        <li>
                            <a href="/investment"><i class="fa fa-user-o fa-fw"></i> Investments</a>
                        </li>
                        <li>
                            <a href="/acquisition"><i class="fa fa-random fa-fw"></i> Acquisitions</a>
                        </li>
                        <li>
                            <a href="/funding"><i class="fa fa-usd fa-fw"></i> Funding Rounds</a>
                        </li>
                            <li>
                                <a href="/prediction"><i class="fa fa-user-circle fa-fw"></i> Prediction</a>
                            </li>
                        <li>
                            <a href="/people"><i class="fa fa-user-circle fa-fw"></i> People</a>
                        </li>

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        
        <div id="page-wrapper">
          <div class="row">
            <div class="col-lg-12">
                <h4 class="page-header" style="">Analysis of Investments </h4>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <div class="col-lg-8">
            <div class="panel panel-default">
            <div class="panel-heading" style="background-color:#47475c; color: white">
            <i class="fa fa-bar-chart-o fa-fw"></i> Find top domains to Invest and look for Startups
            </div>
             <div class="panel-body">
            <div id="container" style="width: 650px; height: 450px; margin: 0 auto" ></div>
            </div>
            </div>

             <div class="panel panel-default">
            <div class="panel-heading" style="background-color:#47475c; color: white">
            <i class="fa fa-bar-chart-o fa-fw"></i>Top Investors from 2011 - 2015
            </div>
             <div class="panel-body">
            <div id="container2" style="height: 600px; width: 650px; margin: 0 auto"></div>
            </div>
            </div>
               
               
           </div>
           <div class="panel panel-default" style="float: right; width: 300px">
            <div class="panel-heading" style="background-color:#47475c; color: white">
                <i class="fa fa-twitter fa-fw" style="color: #1dcaff"></i> Trending News
            </div>
            <div class="panel-body">
                <div class="tw-feed">
                    <a class="twitter-timeline" href="https://twitter.com/crunchbase‎"
                    data-link-color="#ccc"
                    background="#333"
                    border-radius="none"
                    data-chrome="nofooter noborders"
                    data-widget-id="413723523169787904"
                    data-screen-name="crunchbase" data-show-replies="false"
                    data-tweet-limit="4"
                    width="400"
                    >@Twitter Feed</a>
                </div>

            </div>
            <!-- /.panel-body -->
        </div>
    </div>
    <!-- /.row -->

</div>

</div>

</div>

</div>
<!-- /#wrapper -->

<!-- jQuery -->

<script src="https://code.highcharts.com/highcharts.js"></script>
<!-- <script src="https://code.highcharts.com/modules/exporting.js"></script> -->
<script>

    $(function () {
        Highcharts.chart('container', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Top Investment domains for 2005-15'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                'Mobile',
                'Cloud',
                'Big Data Analytics',
                'Healthcare / Biotechnology',
                'Software',
                'Security',
                'Enterprise',
                'Automotive',
                'Advertising',
                'Finance',
                'E-commerce',
                'Food/Hospitality'
                ],
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Number of Investments'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} </b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Angel',
                data: [ 978, 112, 317, 215, 897, 76, 294, 60, 230, 225, 362, 20]

            }, {
                name: 'Seed',
                data: [5891, 643, 2815, 1866, 6307, 637, 2325, 222, 1826, 1674, 2489, 725]

            },  {
                name: 'Venture',
                data: [8827, 1761, 5003, 6140, 18268, 2805, 6763, 475, 4354, 2550, 3568, 795]

            }]
        });
    });     

    angular.module('myModule', [])
    .controller('myController', function($scope,$http) {
        $http.get("/getInv")
        .then(function(response) {
            Highcharts.chart('container2', {
                title: {
                    text: 'Top Investor Rounds Yearly'
                },
                xAxis: {
                    categories: response.data.inv
                },
                labels: {
                    items: [{
                        html: 'Total Funding Rounds',
                        style: {
                            left: '50px',
                            top: '18px',
                            color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
                        }
                    }]
                },
                series: [{
                    type: 'column',
                    name: '2015',
                    data: response.data.y2015
                }, {
                    type: 'column',
                    name: '2014',
                    data: response.data.y2014
                }, {
                    type: 'column',
                    name: '2013',
                    data: response.data.y2013
                }, {
                    type: 'column',
                    name: '2012',
                    data: response.data.y2012
                }, {
                    type: 'column',
                    name: '2011',
                    data: response.data.y2011
                }, {
                    type: 'spline',
                    name: 'Average',
                    data: response.data.allYear,
                    marker: {
                        lineWidth: 2,
                        lineColor: Highcharts.getOptions().colors[3],
                        fillColor: 'white'
                    }
                }, {
                    type: 'pie',
                    name: 'Total Rounds',
                    data: [{
                        name: '2015',
                        y: 1157,
                color: Highcharts.getOptions().colors[0] // Jane's color
            }, {
                name: '2014',
                y: 1416,
                color: Highcharts.getOptions().colors[1] // John's color
            }, {
                name: '2013',
                y: 1217,
                color: Highcharts.getOptions().colors[2] // John's color
            }, {
                name: '2012',
                y: 1137,
                color: Highcharts.getOptions().colors[3] // John's color
            }, {
                name: '2011',
                y: 988,
                color: Highcharts.getOptions().colors[4] // Joe's color
            }],
            center: [100, 80],
            size: 100,
            showInLegend: false,
            dataLabels: {
                enabled: false
            }
        }]
    });
        });

    });
</script>
<script>
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>
<!-- Bootstrap Core JavaScript -->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="/javascripts/metisMenu.min.js"></script>



<!-- Custom Theme JavaScript -->
<script src="/javascripts/sb-admin-2.js"></script>

</body>


</html>
