<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>StartUp Biz</title>

    <!-- Bootstrap Core CSS -->
    <script src="/bower_components/angular/angular.js"></script>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Theme CSS -->

    <!-- Custom Fonts -->
    <link href="/bower_components/components-font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">


    <link href="stylesheets/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="stylesheets/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>


<body>

    <div id="wrapper" >

        <!-- Navigation -->
        <nav style="background-color: #47475c;" class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/startup" style=" color:white;">Startup Biz</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">


                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">


                    <!-- /.dropdown-tasks -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">

                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: white">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation" >
                <div class="sidebar-nav navbar-collapse" >
                    <ul class="nav" style="padding-top:60px;" id="side-menu" >

                        <li style="color: white">
                            <a href="/dashboard"><i class="fa fa-industry fa-fw" ></i> Companies</a>
                        </li>
                         <li>
                            <a href="/investment"><i class="fa fa-user-o fa-fw"></i> Investments</a>
                        </li>
                         <li>
                            <a href="/acquisition"><i class="fa fa-random fa-fw"></i> Acquisitions</a>
                        </li>
                         <li>
                            <a href="/funding"><i class="fa fa-usd fa-fw"></i> Funding Rounds</a>
                        </li>
                        <li>
                            <a href="/people"><i class="fa fa-user-circle fa-fw"></i> People</a>
                        </li>





                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="page-header" style="">People </h4>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

            <!-- /.row -->
            <div class="row">
               <div class="col-lg-10">
                    <h3>Top Entrepreneurs in Business</h3>
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Company</th>
                            <th>Job title</th>
                            <th>Location</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr >
                            <td><a href="https://www.facebook.com/sheryl/about">Diane Greene</a></td>
                            <td><i class="fa fa-google" aria-hidden="true" style="color: orange "></i> <a href="https://www.google.com/"> Google</a></td>
                            <td>SVP</td>
                            <td>San Francisco, California, USA</td>

                          </tr>
                          <tr >
                            <td><a href="https://www.facebook.com/sheryl/about">Sheryl Sandberg</a></td>
                            <td><i class="fa fa-facebook-official" aria-hidden="true" style="color: blue"></i><a href="http://www.facebook.com"> Facebook</a></td>
                            <td>COO</td>
                            <td>Menlo Park, California, USA</td>
                          </tr>
                          <tr>
                            <td><a href="https://www.facebook.com/marissamayer">Marissa Mayer</a></td>
                            <td><i class="fa fa-yahoo" aria-hidden="true" style="color: violet"><a href="http://www.yahoo.com"> Yahoo</a></td>
                            <td>CEO & President</td>
                            <td>San Francisco, California, USA</td>

                          </tr>
                          <tr>
                            <td><a href="https://twitter.com/eholmes2003">Elizabeth Holmes</a></td></td>
                            <td><a href="http://www.theranos.com">Theranos</a></td>
                            <td>Chairman, CEO, Founder</td>
                            <td>Palo Alto, California, USA</td>

                          </tr>
                          <tr>
                            <td><a href="http://ellen.warnerbros.com">Ellen DeGeneres</a></td>
                            <td><a href="http://www.warnerbros.com">Warner Bros</a></td>
                            <td>Host</td>
                            <td>Los Angeles, California, USA</td>

                          </tr>
                          <tr>
                            <td><a href="https://www.linkedin.com/in/whitney-wolfe-1791a299">Whitney Wolfe</a></td>
                            <td><a href="http://bumble.com/">Bumble</a></td>
                            <td>Co-Founder | CEO</td>
                            <td>Austin, Texas, USA</td>

                          </tr>

                          <tr>
                            <td><a href="https://www.linkedin.com/in/carolyn-everson-8633479">Carolyn Everson </td>
                            <td><i class="fa fa-facebook-official" aria-hidden="true" style="color: blue"></i><a href="http://www.facebook.com">Facebook</td>
                            <td>$Vice President of Global marketing</td>
                            <td>Montclair, New Jersey, USA</td>

                          </tr>
                          <tr>
                            <td><a href="https://www.linkedin.com/in/changamy">Amy Chang</a</td>
                            <td><a href="https://www.accompany.com/">Accompany</a></td>
                            <td>Founder & CEO</td>
                            <td>Los Altos, California, USA</td>

                          </tr>
                        </tbody>
                    </table>
                </div>
                
                </div>
                <!-- /.col-lg-4 -->
          
                <!-- /.col-lg-8 -->
                <div class="row">
                <div class="col-lg-10">
                    <h3>Top Women in Business</h3>
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Company</th>
                            <th>Job title</th>
                            <th>Location</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr >
                            <td><a href="https://www.linkedin.com/in/diane-greene-38361013">Diane Greene</a></td>
                            <td><i class="fa fa-google" aria-hidden="true" style="color: orange "></i> <a href="https://www.google.com/"> Google</a></td>
                            <td>SVP</td>
                            <td>San Francisco, California, USA</td>

                          </tr>
                          <tr >
                            <td><a href="https://www.facebook.com/sheryl/about">Sheryl Sandberg</a></td>
                            <td><i class="fa fa-facebook-official" aria-hidden="true" style="color: blue"></i><a href="http://www.facebook.com"> Facebook</a></td>
                            <td>COO</td>
                            <td>Menlo Park, California, USA</td>
                          </tr>
                          <tr>
                            <td><a href="https://www.facebook.com/marissamayer">Marissa Mayer</a></td>
                            <td><i class="fa fa-yahoo" aria-hidden="true" style="color: violet"><a href="http://www.yahoo.com"> Yahoo</a></td>
                            <td>CEO & President</td>
                            <td>San Francisco, California, USA</td>

                          </tr>
                          <tr>
                            <td><a href="https://twitter.com/eholmes2003">Elizabeth Holmes</a></td></td>
                            <td><a href="http://www.theranos.com">Theranos</a></td>
                            <td>Chairman, CEO, Founder</td>
                            <td>Palo Alto, California, USA</td>

                          </tr>
                          <tr>
                            <td><a href="http://ellen.warnerbros.com">Ellen DeGeneres</a></td>
                            <td><a href="http://www.warnerbros.com">Warner Bros</a></td>
                            <td>Host</td>
                            <td>Los Angeles, California, USA</td>

                          </tr>
                          <tr>
                            <td><a href="https://www.linkedin.com/in/whitney-wolfe-1791a299">Whitney Wolfe</a></td>
                            <td><a href="http://bumble.com/">Bumble</a></td>
                            <td>Co-Founder | CEO</td>
                            <td>Austin, Texas, USA</td>

                          </tr>

                          <tr>
                            <td><a href="https://www.linkedin.com/in/carolyn-everson-8633479">Carolyn Everson </td>
                            <td><i class="fa fa-facebook-official" aria-hidden="true" style="color: blue"></i><a href="http://www.facebook.com">Facebook</td>
                            <td>$Vice President of Global marketing</td>
                            <td>Montclair, New Jersey, USA</td>

                          </tr>
                          <tr>
                            <td><a href="https://www.linkedin.com/in/changamy">Amy Chang</a</td>
                            <td><a href="https://www.accompany.com/">Accompany</a></td>
                            <td>Founder & CEO</td>
                            <td>Los Altos, California, USA</td>

                          </tr>
                        </tbody>
                    </table>
                </div>
                
               

                    
            </div>

                    <!-- /.panel .chat-panel -->
                </div>

                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/javascripts/metisMenu.min.js"></script>



    <!-- Custom Theme JavaScript -->
    <script src="/javascripts/sb-admin-2.js"></script>


    <!-- Maps script-->
  <!--   <script src="https://code.highcharts.com/maps/highmaps.js"></script>
<script src="https://code.highcharts.com/maps/modules/data.js"></script>
<script src="https://code.highcharts.com/mapdata/countries/us/us-all.js"></script> -->


</body>
