<!DOCTYPE html>
<html ng-app="mainApp">
    <head>
        <title>Jrello</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="/bower_components/angular/angular.js"></script>
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/javascripts/app.js"></script>
        <!-- <link href="stylesheets/signup.css" rel="stylesheet"> -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
        <!-- <script src="/node_modules/angular-ui-router/release/angular-ui-router.js"></script> -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>

    </head>
    <body ng-controller="signupController as sm">

        <!-- Navigation -->
        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="#page-top">StartUp Biz</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li class="page-scroll">
                            <a href="/signup">SignUp/Login</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#about">About</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>




        <div class="main">
            <div class="testbox">
              <h1>Registration</h1>



              <form name="form" ng-submit="sm.login()" role="form">
                  <hr>
                <div class="accounttype">
                  <input type="radio" value="None" ng-model="sm.user.entrepreneur" id="radioOne" name="account" checked/>
                  <label for="radioOne" class="radio" chec>Entrepreneur</label>
                  <input type="radio" value="None"  ng-model="sm.user.investor" id="radioTwo" name="account" />
                  <label for="radioTwo" class="radio">Investor</label>
                </div>
              <hr>
              <label id="icon" for="name"><i class="icon-user"></i></label>
              <input type="text" name="name" id="name" ng-model="sm.user.name" placeholder="Name" required/>
              <label id="icon" for="name"><i class="icon-user"></i></label>
              <input type="text" name="userName" id="userName" ng-model="sm.user.userName" placeholder="UserName" required/>
              <label id="icon" for="name"><i class="icon-envelope "></i></label>
              <input type="text" name="email" id="email" ng-model="sm.user.email" placeholder="Email" required/>
              <label id="icon" for="name"><i class="icon-shield"></i></label>
              <input type="password" name="password" id="password" ng-model="sm.user.password" placeholder="Password" required/>
              <label id="icon" for="name"><i class="icon-shield"></i></label>
              <input type="Conformpassword" name="conformPassword" id="conformPassword" ng-model="sm.user.conformPassword" placeholder="Conform Password" required/>
              <div class="gender">
                <input type="radio" value="None" ng-model="sm.user.male" id="male" name="gender" checked/>
                <label for="male" class="radio" chec>Male</label>
                <input type="radio" value="None" ng-model="sm.user.female" id="female" name="gender" />
                <label for="female" class="radio">Female</label>
               </d iv>
               <p>By clicking Register, you agree on our <a href="#">terms and condition</a>.</p>
              <button type="submit" class="btn btn-primary">Register</button>
              </form>
            </div>
        </div>

    </body>
</html>
